{% if org %}
    <p>Según Dir3
        (<span {% if org.rcp != id %}class="nomatch" title="El código no coincide, se ha encontrado por nombre" {% endif %}>
            {% if org.idUnidOrganica %}<a href="https://administracion.gob.es/pagFront/espanaAdmon/directorioOrganigramas/fichaUnidadOrganica.htm?idUnidOrganica={{org.idUnidOrganica}}">{% endif %}
            {{org.idOrganismo}}
            {% if org.idUnidOrganica %}</a>{% endif %}
        </span>):
    </p>
    <ul>
        <li><strong>Organismo</strong>: {{org.deOrganismo}}</li>
        <li><strong>Dirección</strong>:
            {% if org.latlon %}<a href="https://www.google.com/maps?q={{org.latlon}}">{% endif %}
            {% if org.deDireccion %}{{org.deDireccion}}{%else%}No tiene dirección ¿Quizá esta en el organismo padre?{%endif%}
            {% if org.idUnidOrganica %}</a>{% endif %}
        </li>
    </ul>
{% else %}
    <p>Según Dir3: ¡No encontrado!</p>
{% endif %}
