<!DOCTYPE html>
<html>
	<head>
		<title>Direcciones</title>
		<link href="main.css" rel="stylesheet" type="text/css"/>
        <script src="main.js"></script>
		<meta charset="utf-8"/>
	</head>
	<body>
        <p>Código fuente en <a href="https://github.com/s-nt-s/TAI-Madrid">github.com/s-nt-s/TAI-Madrid</a>.<br/>
        Se necesita ayuda para completar el listado, ver <a href="https://github.com/s-nt-s/TAI-Madrid/blob/master/README.md">README.md</a></p>
		{% for id, des, org in info.next_ministerio %}
            <h1 class="idde"><span>{{id}}</span><span>{{ des }}</span></h1>
            {%include "dir3.html" %}
            {% for id, des, org in info.next_centrodirectivo %}
                <h2 class="idde">{% if id > -1 %}<span>{{id}}</span>{% endif %}<span>{{ des }}</span></h2>
                {% if id > -1 %}
                {%include "dir3.html" %}
                {% endif %}

                {% for id, des, org in info.next_unidad %}
                    <h3 class="idde"><span>{{id}}</span><span>{{ des }}</span></h3>
                    {%include "dir3.html" %}
                {%endfor%}
                
            {%endfor%}
		{%endfor%}
	</body>
</html>
