<!DOCTYPE html>
<html>
	<head>
		<title>Puestos TAI en {{info.deProvincia}}</title>
		<link href="../../main.css" rel="stylesheet" type="text/css"/>
        <script src="../../main.js"></script>
		<meta charset="utf-8"/>
	</head>
	<body>
        {%include "banner.html" %}
        <!--p>
            <input type="checkbox" id="vacantes" value="V" onclick="vacantes(this)"/> <label for="vacantes">Ver solo vacantes</label>
        </p-->
		{% for id, des, _, _ in info.next_ministerio %}
			<table class="{{info.estado_ministerio}}">
				<caption class="idde"><span>{{id}}</span><span>{{ des }}</span></caption>
				<thead>
					<tr>
						<th><abbr title="Vacante">V</abbr></th>
						<th>ID</th>
						<th>Centro Directivo</th>
						<th>Unidad</th>
						<th>Puesto</th>
						<th>Grupo</th>
						<th>Nivel</th>
						<th>Complemento</th>
						<!--th>Pais</th-->
						<!--th>Provincia</th-->
						<th>Localidad</th>
						<th>Observaciones</th>
						<th>+</th>
					</tr>
				</thead>
				<tbody>
				{% for p in info.puestos_by_ministerio %}
				<tr class="{{p.estado}}">
                    <td class="{{p.estado}}">
                        {% if p.estado == "V" %}<abbr title="Vacante">V</abbr>{% elif p.estado != "NV" %}
                        <a href="https://www.boe.es/buscar/doc.php?id={{p.estado}}" target="_boe"><abbr title="En el RPT aparece como vacante, pero el {{p.estado}} hace pensar lo contrarío">B</abbr></a>
                        {% endif %}
                    </td>
					<td>{{p.idPuesto}}</td>
					<td class="idde"><span>{{p.idCentroDirectivo}}</span><span>{{ p.deCentroDirectivo }}</span></td>
					<td class="idde"><span>{{p.idUnidad}}</span><span>{{ p.deUnidad }}</span></td>
					<td>{{ p.dePuesto }}</td>
					<td>{{ p.grupo }}</td>
					<td class="nb">{{ p.nivel }}</td>
					<td class="nb">{{ p.complemento | int }}</td>
					<!--td>{{ p.pais }}</td-->
					<!--td>{{ p.deProvincia }}</td-->
					<td title="{{p.idResidencia}}">{{ p.deLocalidad }}</td>
					<td>{{ p.deObservaciones }}</td>
					<td></td>
				</tr>
				{%endfor%}
				</tbody>
			</table>
		{%endfor%}
	</body>
</html>
